html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  color: #555;
  margin: 0;
}

/*scrollbar*/
body::-webkit-scrollbar,
aside::-webkit-scrollbar {
  width: 6px;
  background-color: #eee;
}

body::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb {
  background: #555;
}

/*headings*/

h1,
h2,
strong,
em {
  color: #333;
}

h2 {
  margin-top: 1rem;
  padding-top: 1rem;
  scroll-margin-top: 3rem;
}

/*header*/
header {
  background-color: #333;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vw 2rem;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  text-shadow: 1px 1px 1px #555;
  z-index: 2;
  position: relative;
}

header img {
  display: inline-block;
  height: 120px;
  width: 120px;
  vertical-align: top;
}

header h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
}

header a {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  text-shadow: 1px 1px 1px #555;
  box-shadow: 1px 1px 1px #555;
  transition: none 200ms ease-out;
  transition-property: color, background, text-shadow;
}

header a:hover {
  color: #333;
  background: #fff;
  text-shadow: none;
}

header em {
  color: #fff;
}

/*nav*/
nav {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: 50px 1fr 50px; */
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 1px 1px 5px #555;
  background: #fff;
  overflow: hidden;
}

nav > .icon {
  padding: 0 1rem;
  cursor: pointer;
}

nav > div:not(.icon) {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
  overflow: hidden;
  position: relative;
}

nav > div:not(.icon):before,
nav > div:not(.icon):after {
  content: '';
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  width: 1rem;
  background: red;
}

nav > div:not(.icon):before {
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

nav > div:not(.icon):after {
  top: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (min-width: 60rem) {
  /*adjust nav items if has menu icon*/
  nav > div.icon + div {
    left: -35px;
  }
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  white-space: nowrap;
}

nav ul li:last-child {
  width: 0;
  height: 100%;
  visibility: hidden;
  padding: 0;
}

nav ul li a {
  padding: 1rem 1rem;
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

nav ul li a:hover,
nav ul li.active a {
  background: #555;
  color: #fff;
}

/*aside*/
aside {
  position: fixed;
  height: 100vh;
  max-width: 20rem;
  z-index: 2;
  background: white;
  top: 0;
  left: 0;
  padding: 3rem 0;
  box-shadow: 1px 1px 5px #555;
  overflow-y: auto;
  transform: translateX(calc(-100% - 6px));
  transition: transform 200ms ease-out;
}

aside > *:last-child {
  margin-bottom: 3rem;
}

aside.visible {
  transform: translateX(0%);
}

aside .close.icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

aside img {
  display: inline-block;
  height: 120px;
  width: 120px;
  vertical-align: top;
  padding: 0 2rem;
}

aside h2 {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li a {
  padding: 1rem 1rem;
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

aside ul li a:hover,
aside ul li.active a {
  background: #555;
  color: #fff;
}

/*main*/
main {
  margin: 0 auto;
  max-width: 50em;
  padding: 4rem 1rem;
}

/*footer*/
footer {
  background: #333;
  padding: 5vw 2rem;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}

footer div + div {
  margin-top: 1rem;
}

footer a {
  color: #fff;
}

/*links*/
a {
  color: #0074d9;
}

/*buttons*/

button,
.button {
  box-shadow: 1px 1px 1px #555;
  background: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.7rem;
  border: 1px solid #555;
  border-radius: 50px;
  color: #333;
  letter-spacing: 0.2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

button:active,
.button:active {
  box-shadow: none;
  top: 2px;
}

button:disabled,
.button:disabled {
  border: 1px solid #555;
  cursor: default;
  color: #555;
  background: #ddd;
}

/*forms*/
form {
  border: 1px solid #555;
  border-radius: 4px;
  padding: 2rem 1rem;
}
input,
fieldset,
label,
textarea,
select {
  width: 100%;
  border: 1px solid #555;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #555;
  padding: 0.4rem 0.5rem;
  color: #333;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

input:first-child {
  margin-top: 0;
}

input[type='checkbox'],
input[type='radio'] {
  box-shadow: none;
  width: initial;
  position: relative;
  visibility: hidden;
  margin-right: 10px;
  cursor: pointer;
}

input[type='radio']:before,
input[type='radio']:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

input[type='radio']:before {
  height: 15px;
  width: 15px;
  background: #555;
}

input[type='radio']:checked:before {
  visibility: visible;
}

input[type='radio']:after {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 1px solid #555;
  visibility: visible;
}

input[type='checkbox']:before,
input[type='checkbox']:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type='checkbox']:before {
  content: '\2714';
  height: 20px;
  width: 20px;
  text-align: center;
  background: #555;
  color: #fff;
}

input[type='checkbox']:checked:before {
  visibility: visible;
}

input[type='checkbox']:after {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 1px solid #555;
  visibility: visible;
}

textarea {
  resize: vertical;
  min-height: 5rem;
}

textarea::placeholder {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

input[type='submit'] {
  cursor: pointer;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 0.7rem;
  line-height: 1;
}

input[type='submit']:active {
  box-shadow: none;
  top: 2px;
}

input[type='submit']:disabled {
  cursor: default;
  color: #555;
  background: #ddd;
}

label {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

select {
  appearance: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" /%3E%3C/svg%3E');
  background-size: 1.7rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
}
/*classes*/
.full-width {
  width: calc(100vw - 3px);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
/*center the content inside a full-width container*/
.centered {
  margin: 0 auto;
  max-width: 50em;
  padding: 1rem;
}
/*fix the overflow-y issue that might be caused by .full-width*/
.overflow-y-hidden {
  overflow-y: hidden;
}
/*no-scrollbar*/
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.gdpr-card {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateX(calc(100% + 6px));
  z-index: 2;
  background: #fff;
  padding: 0 2rem 1.5rem;
  max-width: 20rem;
  box-shadow: 0px 0px 5px 1px #555;
  transition: transform 200ms ease-out;
}
.gdpr-card.visible {
  transform: translateX(0%);
}
.gdpr-card button {
  margin: 2rem auto 0;
  display: block;
}

.gdpr-card a {
  display: block;
  text-align: center;
  margin-top: 1.5rem;
}

/* Colors */
.navy {
  color: #001f3f;
}
.blue {
  color: #0074d9;
}
.aqua {
  color: #7fdbff;
}
.teal {
  color: #39cccc;
}
.olive {
  color: #3d9970;
}
.green {
  color: #2ecc40;
}
.lime {
  color: #01ff70;
}
.yellow {
  color: #ffdc00;
}
.orange {
  color: #ff851b;
}
.red {
  color: #ff4136;
}
.fuchsia {
  color: #f012be;
}
.purple {
  color: #b10dc9;
}
.maroon {
  color: #85144b;
}
.white {
  color: #ffffff;
}
.silver {
  color: #dddddd;
}
.gray {
  color: #aaaaaa;
}
.black {
  color: #111111;
}

/* Backgrounds */
.bg-navy {
  background-color: #001f3f;
}
.bg-blue {
  background-color: #0074d9;
}
.bg-aqua {
  background-color: #7fdbff;
}
.bg-teal {
  background-color: #39cccc;
}
.bg-olive {
  background-color: #3d9970;
}
.bg-green {
  background-color: #2ecc40;
}
.bg-lime {
  background-color: #01ff70;
}
.bg-yellow {
  background-color: #ffdc00;
}
.bg-orange {
  background-color: #ff851b;
}
.bg-red {
  background-color: #ff4136;
}
.bg-fuchsia {
  background-color: #f012be;
}
.bg-purple {
  background-color: #b10dc9;
}
.bg-maroon {
  background-color: #85144b;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #aaaaaa;
}
.bg-silver {
  background-color: #dddddd;
}
.bg-black {
  background-color: #111111;
}

/* Border colors */
.border-navy {
  border-color: #001f3f;
}
.border-blue {
  border-color: #0074d9;
}
.border-aqua {
  border-color: #7fdbff;
}
.border-teal {
  border-color: #39cccc;
}
.border-olive {
  border-color: #3d9970;
}
.border-green {
  border-color: #2ecc40;
}
.border-lime {
  border-color: #01ff70;
}
.border-yellow {
  border-color: #ffdc00;
}
.border-orange {
  border-color: #ff851b;
}
.border-red {
  border-color: #ff4136;
}
.border-fuchsia {
  border-color: #f012be;
}
.border-purple {
  border-color: #b10dc9;
}
.border-maroon {
  border-color: #85144b;
}
.border-white {
  border-color: #ffffff;
}
.border-gray {
  border-color: #aaaaaa;
}
.border-silver {
  border-color: #dddddd;
}
.border-black {
  border-color: #111111;
}

/*text-align*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* gallery */
.gallery {
  display: flex;
  flex-flow: wrap;
}

.gallery .column {
  flex: 1;
  padding: 0 0.2rem;
}

.gallery .column:first-child {
  padding-left: 0;
}
.gallery .column:last-child {
  padding-right: 0;
}

.gallery .column .item {
  width: 100%;
  margin-bottom: 0.4rem;
}

.gallery .column .item img {
  max-width: 100%;
  vertical-align: middle;
}

@media (max-width: 50rem) {
  .gallery.gallery-medium-2 .column {
    flex: calc(50% - 0.4rem);
    padding: 0;
  }

  .gallery.gallery-medium-2 .column:nth-child(2n) {
    padding-left: 0.4rem;
  }
}

@media (max-width: 32rem) {
  .gallery .column,
  .gallery.gallery-medium-2 .column {
    flex: 1 100%;
    padding: 0;
  }
}

/*icons*/
.menu.icon {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2333' width='24px' height='24px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E%3C/svg%3E");
}

.close.icon {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='24px' height='24px'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
}
